/* .buttonn{
    size: 1px;
    font-size: 10px;
    color: yellowgreen;
    position: relative;
} */
/* @media (min-width: 576px)and (max-width: 1300px){
    .comp{
        height:90vh;
        border: solid 5px;
    }
} */

